In [2]:
#!pip install geojson

In [17]:
#!pip install area

Collecting area
  Downloading https://files.pythonhosted.org/packages/f4/1b/9e434947304bafaeca6a5760272ded9b43edbcadfe9f15116596b4d6b7eb/area-1.1.1.tar.gz
Building wheels for collected packages: area
  Building wheel for area (setup.py): started
  Building wheel for area (setup.py): finished with status 'done'
  Stored in directory: C:\Users\jiyag\AppData\Local\pip\Cache\wheels\66\c0\12\b2ef12e07a617ba6f7aaeb32348ea6f14205cc1985f51a134e
Successfully built area
Installing collected packages: area
Successfully installed area-1.1.1

In [18]:
import pandas as pd
import numpy as np
import os
import json
from area import area

# Data Cleansing

In [4]:
#read Toronto Covid case count per neighborhood into pandas dataframe
raw = pd.read_csv('COVID-19_Neighbour.csv')

In [5]:
raw.columns=['ID', 'Neighbourhood', 'Rate_per_100k', 'Case']

In [6]:
raw=raw.sort_values('ID')

In [7]:
raw=raw.dropna()

In [8]:
raw['ID']=raw['ID'].astype('int')

In [9]:
raw

      ID                        Neighbourhood  Rate_per_100k  Case
76     1               West Humber-Clairville    4385.806916  1461
66     2    Mount Olive-Silverstone-Jamestown    5192.085938  1711
88     3         Thistletown-Beaumond Heights    5347.490347   554
63     4                      Rexdale-Kipling    3172.191091   334
54     5                     Elms-Old Rexdale    2887.055838   273
103    6        Kingsview Village-The Westway    3331.818182   733
13     7     Willowridge-Martingrove-Richview    1972.377686   437
38     8             Humber Heights-Westmount    2840.701498   311
3      9             Edenbridge-Humber Valley    1841.004184   286
16    10                   Princess-Rosethorn    1094.923536   121
53    11       Eringate-Centennial-West Deane    1221.217990   227
14    12                        Markland Wood     966.458215   102
132   13                  Etobicoke West Mall    2413.909521   286
48    14           Islington-City Centre West    1887.865347   830
17    15                       Kingsway South    1003.128034    93
71    16                  Stonegate-Queensway     802.363179   201
100   17  Mimico (includes Humber Bay Shores)    1539.865740   523
96    18                          New Toronto    1544.098404   177
93    19                          Long Branch     961.919873    97
62    20                            Alderwood    1435.208230   173
92    21                        Humber Summit    3793.492268   471
113   22                           Humbermede    4367.963976   679
116   23                 Pelmo Park-Humberlea    3516.135049   377
61    24                          Black Creek    4830.473386  1050
85    25               Glenfield-Jane Heights    4440.654619  1354
21    26                 Downsview-Roding-CFB    4085.358895  1432
112   27              York University Heights    4091.617439  1129
117   28                               Rustic    2605.371693   259
74    29                           Maple Leaf    5034.121254   509
60    30                  Brookhaven-Amesbury    3057.948978   543
..   ...                                  ...            ...   ...
10   111                    Rockcliffe-Smythe    2315.022925   515
78   112              Beechborough-Greenbrook    3512.239623   231
136  113                               Weston    4585.371276   825
18   114                   Lambton Baby Point     826.549781    66
27   115                         Mount Dennis    3487.088943   474
70   116                              Steeles    1754.457215   432
50   117                           L'Amoreaux    1718.455209   756
42   118               Tam O'Shanter-Sullivan    1799.897981   494
110  119                     Wexford/Maryvale    1916.395028   535
25   120                  Clairlea-Birchmount    2442.187963   659
105  121                             Oakridge    2701.336222   374
51   122                Birchcliffe-Cliffside    2144.363196   478
49   123                           Cliffcrest    1914.025730   305
23   124                         Kennedy Park    2423.640717   415
64   125                              Ionview    1319.551353   180
102  126                          Dorset Park    3243.610767   811
106  127                              Bendale    2726.969292   817
115  128         Agincourt South-Malvern West    1570.063560   373
6    129                      Agincourt North    1477.003401   430
11   130                             Milliken    1279.542375   340
95   131                                Rouge    3081.985547  1433
126  132                              Malvern    2986.710508  1308
19   133               Centennial Scarborough    1174.973806   157
129  134                       Highland Creek    2609.252441   326
72   135                          Morningside    3047.837296   532
75   136                            West Hill    2007.885514   550
8    137                               Woburn    2989.623259  1599
0    138                        Eglinton East    2493.853179   568
91   139                  Scarborough Village    3779.000239   632
41   140                            Guildwood    2531.007361   251

[140 rows x 4 columns]

In [10]:
cases=raw.set_index('ID')
cases

                           Neighbourhood  Rate_per_100k  Case
ID
1                 West Humber-Clairville    4385.806916  1461
2      Mount Olive-Silverstone-Jamestown    5192.085938  1711
3           Thistletown-Beaumond Heights    5347.490347   554
4                        Rexdale-Kipling    3172.191091   334
5                       Elms-Old Rexdale    2887.055838   273
6          Kingsview Village-The Westway    3331.818182   733
7       Willowridge-Martingrove-Richview    1972.377686   437
8               Humber Heights-Westmount    2840.701498   311
9               Edenbridge-Humber Valley    1841.004184   286
10                    Princess-Rosethorn    1094.923536   121
11        Eringate-Centennial-West Deane    1221.217990   227
12                         Markland Wood     966.458215   102
13                   Etobicoke West Mall    2413.909521   286
14            Islington-City Centre West    1887.865347   830
15                        Kingsway South    1003.128034    93
16                   Stonegate-Queensway     802.363179   201
17   Mimico (includes Humber Bay Shores)    1539.865740   523
18                           New Toronto    1544.098404   177
19                           Long Branch     961.919873    97
20                             Alderwood    1435.208230   173
21                         Humber Summit    3793.492268   471
22                            Humbermede    4367.963976   679
23                  Pelmo Park-Humberlea    3516.135049   377
24                           Black Creek    4830.473386  1050
25                Glenfield-Jane Heights    4440.654619  1354
26                  Downsview-Roding-CFB    4085.358895  1432
27               York University Heights    4091.617439  1129
28                                Rustic    2605.371693   259
29                            Maple Leaf    5034.121254   509
30                   Brookhaven-Amesbury    3057.948978   543
..                                   ...            ...   ...
111                    Rockcliffe-Smythe    2315.022925   515
112              Beechborough-Greenbrook    3512.239623   231
113                               Weston    4585.371276   825
114                   Lambton Baby Point     826.549781    66
115                         Mount Dennis    3487.088943   474
116                              Steeles    1754.457215   432
117                           L'Amoreaux    1718.455209   756
118               Tam O'Shanter-Sullivan    1799.897981   494
119                     Wexford/Maryvale    1916.395028   535
120                  Clairlea-Birchmount    2442.187963   659
121                             Oakridge    2701.336222   374
122                Birchcliffe-Cliffside    2144.363196   478
123                           Cliffcrest    1914.025730   305
124                         Kennedy Park    2423.640717   415
125                              Ionview    1319.551353   180
126                          Dorset Park    3243.610767   811
127                              Bendale    2726.969292   817
128         Agincourt South-Malvern West    1570.063560   373
129                      Agincourt North    1477.003401   430
130                             Milliken    1279.542375   340
131                                Rouge    3081.985547  1433
132                              Malvern    2986.710508  1308
133               Centennial Scarborough    1174.973806   157
134                       Highland Creek    2609.252441   326
135                          Morningside    3047.837296   532
136                            West Hill    2007.885514   550
137                               Woburn    2989.623259  1599
138                        Eglinton East    2493.853179   568
139                  Scarborough Village    3779.000239   632
140                            Guildwood    2531.007361   251

[140 rows x 3 columns]

In [11]:
cases.dtypes

Neighbourhood     object
Rate_per_100k    float64
Case               int64
dtype: object

In [12]:
#NB_raw = pd.read_csv('Neighbourhoods.csv')
with open ('Neighbourhoods.geojson') as f:
    NB_raw= json.load(f)

In [13]:
NB=pd.DataFrame(columns=['AREA_SHORT_CODE','AREA_NAME', 'geometry'])
frames=[pd.DataFrame([[feature['properties']['AREA_SHORT_CODE'], feature['properties']['AREA_NAME'], feature['geometry']['coordinates'][0]]], columns=['ID','AREA_NAME', 'geometry']) for feature in NB_raw['features']]
NB=pd.concat(frames)
NB=NB.sort_values('ID').set_index('ID')

In [24]:
obj ={'type':'Polygon','coordinates': [NB['geometry'][1]]}

area(obj)

30169238.369793877

In [20]:
NB.head()

,AREA_NAME,geometry
ID,,
1,West Humber-Clairville (1),"[[-79.55235701287411, 43.7094692811074], [-79...."
2,Mount Olive-Silverstone-Jamestown (2),"[[-79.6033810657499, 43.7578610616191], [-79.6..."
3,Thistletown-Beaumond Heights (3),"[[-79.5775147918291, 43.7338354191899], [-79.5..."
4,Rexdale-Kipling (4),"[[-79.5551162536014, 43.7151024596992], [-79.5..."
5,Elms-Old Rexdale (5),"[[-79.5551162536014, 43.7151024596992], [-79.5..."

In [35]:
temp_ll=[]
for i in NB['geometry']:
    temp=pd.DataFrame(i)
    #print([temp.mean()[0],temp.mean()[1]])
    obj ={'type':'Polygon','coordinates': [i]}
    temp_ll.append(pd.DataFrame([[temp.mean()[0],temp.mean()[1], area(obj)]]))
ll=pd.concat(temp_ll, ignore_index=True)
ll.columns=['LONGITUDE', 'LATITUDE', 'AREA_M2']
ll.index +=1

In [36]:
NB_LL=NB.join(ll)
NB_LL.head()

,AREA_NAME,geometry,LONGITUDE,LATITUDE,AREA_M2
ID,,,,,
1,West Humber-Clairville (1),"[[-79.55235701287411, 43.7094692811074], [-79....",-79.589871,43.706841,3.016924e+07
2,Mount Olive-Silverstone-Jamestown (2),"[[-79.6033810657499, 43.7578610616191], [-79.6...",-79.582169,43.748521,4.641235e+06
3,Thistletown-Beaumond Heights (3),"[[-79.5775147918291, 43.7338354191899], [-79.5...",-79.558386,43.737719,3.342149e+06
4,Rexdale-Kipling (4),"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.565492,43.725827,2.507616e+06
5,Elms-Old Rexdale (5),"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.547033,43.723417,2.933515e+06

In [37]:
NB_LL['AREA_M2'].sum()

642965366.2531993

In [47]:
cases_NB=cases.join(NB_LL.drop(columns=['AREA_NAME']))
cases_NB.head()

,Neighbourhood,Rate_per_100k,Case,geometry,LONGITUDE,LATITUDE,AREA_M2
ID,,,,,,,
1,West Humber-Clairville,4385.806916,1461,"[[-79.55235701287411, 43.7094692811074], [-79....",-79.589871,43.706841,3.016924e+07
2,Mount Olive-Silverstone-Jamestown,5192.085938,1711,"[[-79.6033810657499, 43.7578610616191], [-79.6...",-79.582169,43.748521,4.641235e+06
3,Thistletown-Beaumond Heights,5347.490347,554,"[[-79.5775147918291, 43.7338354191899], [-79.5...",-79.558386,43.737719,3.342149e+06
4,Rexdale-Kipling,3172.191091,334,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.565492,43.725827,2.507616e+06
5,Elms-Old Rexdale,2887.055838,273,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.547033,43.723417,2.933515e+06

In [48]:
cases_NB['RADIUS_M']=np.sqrt(cases_NB['AREA_M2']/np.pi)
cases_NB.head()

,Neighbourhood,Rate_per_100k,Case,geometry,LONGITUDE,LATITUDE,AREA_M2,RADIUS_M
ID,,,,,,,,
1,West Humber-Clairville,4385.806916,1461,"[[-79.55235701287411, 43.7094692811074], [-79....",-79.589871,43.706841,3.016924e+07,3098.897680
2,Mount Olive-Silverstone-Jamestown,5192.085938,1711,"[[-79.6033810657499, 43.7578610616191], [-79.6...",-79.582169,43.748521,4.641235e+06,1215.463344
3,Thistletown-Beaumond Heights,5347.490347,554,"[[-79.5775147918291, 43.7338354191899], [-79.5...",-79.558386,43.737719,3.342149e+06,1031.425803
4,Rexdale-Kipling,3172.191091,334,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.565492,43.725827,2.507616e+06,893.419807
5,Elms-Old Rexdale,2887.055838,273,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.547033,43.723417,2.933515e+06,966.316063

# Getting Latitude and Longitude Coordinates of Each Neighborhood

In [ ]:
# Install geocoder
#!conda install -c conda-forge geocoder

#Create function get_ll to obtain Latitude and Longitude Coordinates with postalcode
import geocoder # import geocoder

def get_ll (postal_code):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    
    return [latitude, longitude]

In [ ]:
# Adding two columns for coordinates
postalcode['Latitude'] = np.NaN
postalcode['Longitude'] = np.NaN

In [ ]:
# Adding Latitude and Longitude Coordinates to each row of postalcode dataframe

for index in postalcode.index:
    ll=get_ll(postalcode.at[index, 'PostalCode'])
    postalcode.at[index, 'Latitude']=ll[0]
    postalcode.at[index, 'Longitude']=ll[1]

In [ ]:
postalcode

In [ ]:
# Save to csv file so that we don't need to retrive coordinates everytime 
postalcode.to_csv('postalcode')

# Explore Neighborhoods in Toronto

In [ ]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
# Install geopy
#!conda install -c conda-forge geopy --yes
# Install folium
#!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library
import json
import requests # library to handle requests

In [ ]:
# Use geopy library to get the latitude and longitude values of Toronto.

address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="to_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

In [ ]:
toronto_data=pd.read_csv('postalcode', index_col=0)
toronto_data

In [ ]:
# create map of New York using latitude and longitude values

map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, borough, neighborhood in zip(toronto_data['Latitude'], toronto_data['Longitude'], toronto_data['Borough'], toronto_data['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

In [ ]:
# Eneter API credentials and version
CLIENT_ID =  os.environ.get('FOURSQUARE_CLIENT_ID') # your Foursquare ID
CLIENT_SECRET = os.environ.get('FOURSQUARE_CLIENT_SECRET') # your Foursquare Secret
ACCESS_TOKEN = os.environ.get('FOURSQUARE_ACCESS_TOKEN') # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 30
'''print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)'''

In [ ]:
# create a function to repeat the same process to all the neighborhoods
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [ ]:
toronto_venues = getNearbyVenues(names=toronto_data['Neighborhood'],
                                   latitudes=toronto_data['Latitude'],
                                   longitudes=toronto_data['Longitude']
                                  )

In [ ]:
print(toronto_venues.shape)
toronto_venues.head()

In [ ]:
toronto_venues.groupby('Neighborhood').count()

In [ ]:
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

# Analyze Each Neighborhood

In [ ]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 
toronto_onehot.head()

In [ ]:
# get a list of columns
cols = list(toronto_onehot)
# move the Neighborhood column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('Neighborhood')))

In [ ]:
# move neighborhood column to the first column
toronto_onehot = toronto_onehot[cols]

toronto_onehot.head()

In [ ]:
# Group rows by neighborhood and by taking the mean of the frequency of occurrence of each category
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped

In [ ]:
# function to sort the venues in descending order
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [ ]:
# create the new dataframe and display the top 10 venues for each neighborhood.

num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

# Cluster Neighborhoods

Run _k_-means to cluster the neighborhood into 5 clusters.

In [ ]:
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [ ]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

In [ ]:
# create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood

# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = toronto_data

In [ ]:
# merge manhattan_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged

It seems Foursquare does not have data for 3 neighborhoods (see last three rows below with NaN in "Cluster Labels"). Therefore they need to be dropped

In [ ]:
toronto_merged.sort_values(['Cluster Labels'])

In [ ]:
toronto_merged=toronto_merged.dropna(subset=['Cluster Labels'])
toronto_merged=toronto_merged.astype({'Cluster Labels':'int32'})

In [ ]:
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

In [ ]:
# visualize the resulting clusters

# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

# Examine Clusters

## Cluster 1

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 2

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 3

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 4

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 5

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]